:root {
    --text-cursor-color: white;
}

* {
    box-sizing: border-box;
}
html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
} /* Make page span full width and height */
.landing {
    position: absolute;
    top: 0;
    left: 0;
}
.landing, .title {
    height: 100vh;
    width: 100%;
}

/* Predefine classes for divs */
.absolute {
    position: absolute;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

body {
    font-family: 'Rubik', system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"!important;
    color: white!important;
    background-color: #2E1C6A!important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    padding: 0;
    margin: 0;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
@keyframes blink {
    from { border-color: transparent }
    to { border-color: var(--text-cursor-color); }
}
.typed-out-container {
    display: inline-block;
}
.typed-out {
    overflow: hidden;
    border-right: .05em solid var(--text-cursor-color);
    font-size: 10rem;
    width: 0;
    white-space: nowrap;
    animation-delay: 0s, 1s, 0s;
    animation: 
    typing 1s steps(17, end) forwards,
    blink .8s infinite;
    transition: 0.2s;
    font-family: 'Roboto Mono',SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
.description {
    opacity: 0;
    font-size: xx-large;
    margin-bottom: 10rem;
}

/* Custom wavy divider */
.bottom-divider {
  height: 200px; /* change the height of the waves here */
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
}

.wave {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23003F7C'/%3E%3C/svg%3E");
  position: absolute;
  width: 200%;
  height: 100%;
  animation: wave 10s -3s linear reverse infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
}

.wave:nth-of-type(2) {
  bottom: 0;
  animation: wave 18s linear reverse infinite;
  opacity: 0.5;
}


@keyframes wave {
    0% {transform: translateX(0);}
    50% {transform: translateX(-25%);}
    100% {transform: translateX(-50%);}
}

.nav {
    position: sticky;
    margin: calc(100vh - 100px) 0 0 0;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px;
    padding-left: 20px!important;
    z-index: 9;
    /* background: white; */
    height: 100px;
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: space-between;
}
.nav-links {
    display: flex;
    gap: 15px;
}
.nav-links-link {
    color: white;
    font-size: xx-large;
    text-decoration: none;
    transition: 0.2s;
    opacity: 0;
}
.nav-links-link:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
a, button {
    cursor: pointer;
    transition: 0.2s;
}
a:hover, button:hover {
    filter: brightness(90%);
}
.button-main {
    border: 2px solid white;
    background: transparent;
    color: white;
    border-radius: 20px!important;
    margin: 5px 0;
    padding: 7px 10px;
}
.button-primary {
    background: white;
    color: navy;
}
.scroll-down {
    position: absolute;
    bottom: 100px;
    right: 25px;
    display: flex;
    flex-direction: column;
    z-index: 99999;
    align-items: flex-end;
}
.mouse {
    border: 4px solid white;
    border-radius: 15px;
    height: 50px;
    width: 30px;
    display: flex;
    justify-content: center;
}
.cursor {
    background: white;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    margin-top: 5px;
    animation: slide 1.5s forwards infinite,
    fade 1.5s forwards infinite;
}
@keyframes slide {
    0% {
        margin-top: 5px;
    }
    100% {
        margin-top: 24px;
    }
}
@keyframes fade {
    0% {
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.sc-text {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    transform-origin: top right;
    transform: rotate(90deg);
    margin-top: 120px;
}
/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(241, 241, 241, 0.5); 
    margin: 0 30px;
}
::-webkit-scrollbar-button {
width: 0;
height: 0;
display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ccc; 
    border-radius: 99999px;
    border: 4px solid rgba(0, 0, 0, 0);  /* Transparent border together with `background-clip: padding-box` does the trick */
    background-clip: padding-box;
    transition: 0.2s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.page-1 {
    height: 100vh;
}
.buzzwords {
    transform: rotate(90deg);
}

@media (prefers-color-scheme: dark) { /* Dark theme goes last */
    body {
        background: #333;
        color: white;
    }
}

@media (max-width: 1400px) {
    .typed-out {
        font-size: 8rem;
    }
}
@media (max-width: 1150px) {
    .typed-out {
        font-size: 6rem;
    }
    .wave {
        width: 500%;
    }
}
@media (max-width: 900px) {
    .typed-out {
        font-size: 4rem;
    }
}
@media (max-width: 650px) {
    .description {
        font-size: x-large;
    }
}
@media (max-width: 602px) {
    .nav {
        justify-content: center;
    }
    #landingLogo {
        margin-bottom: 10px;
    }
}
@media (max-width: 550px) {
    .typed-out {
        font-size: xxx-large;
    }
}
@media (max-width: 500px) {
    .description {
        font-size: large;
    }
}
@media (max-width: 450px) {
    .typed-out {
        font-size: 2.5rem;
    }
}
@media (max-width: 400px) {
    .typed-out {
        font-size: xx-large;
    }
}