* {
    box-sizing: border-box;
}
html, body, .landing, .title {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
} /* Make page span full width and height */

/* Predefine classes for divs */
.absolute {
    position: absolute;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

body {
    font-family: 'Rubik', system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"!important;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
@keyframes blink {
    from { border-color: transparent }
    to { border-color: black; }
}
@keyframes fade {
    from { opacity: 1; }
    to { opa}
}
.typed-out-container {
    display: inline-block;
}
.typed-out {
    overflow: hidden;
    border-right: .05em solid black;
    font-size: 10rem;
    width: 0;
    white-space: nowrap;
    animation-delay: 0s, 1s, 0s;
    animation: 
    typing 1s steps(17, end) forwards,
    fade 1s,
    blink .8s infinite;
}

@media (prefers-color-scheme: dark) { /* Dark theme goes last */

}